<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @oyster.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Description</dt>
              <dd><%= @oyster.description %></dd>



            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/reviews" class="btn btn-info">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/oysters" class="btn btn-success">
                <i class="fa fa-home"></i>
              </a>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
